In [66]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [67]:
df = pd.read_csv("data_quality_sample_data.csv") #Load dataset
df.head()

,Event Time,Keywords,Campaign,State,Postal Code,City,Platform,InorganicSource,Country,Name,CreateDate,IdUser
0,26/08/18,NaN,None,MS,39564,Ocean Springs,ios,NaN,USA,Flying Superstars,26/08/18,NaN
1,31/08/18,NaN,Welcome email,WA,98642,Ridgefield,ios,Email,USA,Flying Superstars,31/08/18,NaN
2,05/04/19,NaN,Welcome email,OK,73122,Oklahoma City,ios,Email,USA,Flying Superstars,05/04/19,NaN
3,20/10/18,NaN,None,CA,91214,La Crescenta,ios,Landing Page,USA,Hop Star,20/10/18,172324.0
4,03/11/18,NaN,None,TX,79413,Lubbock,ios,Landing Page,USA,Hop Star,03/11/18,182725.0

In [68]:
df.info() #Getting information regarding each column from a dataframe

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 107321 entries, 0 to 107320
Data columns (total 12 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   Event Time       107321 non-null  object
 1   Keywords         55373 non-null   object
 2   Campaign         100892 non-null  object
 3   State            107299 non-null  object
 4   Postal Code      107321 non-null  object
 5   City             107321 non-null  object
 6   Platform         107321 non-null  object
 7   InorganicSource  92290 non-null   object
 8   Country          107316 non-null  object
 9   Name             107321 non-null  object
 10  CreateDate       107321 non-null  object
 11  IdUser           84024 non-null   float64
dtypes: float64(1), object(11)
memory usage: 9.8+ MB

In [70]:
df.describe() #getting statistical information

             IdUser
count  8.402400e+04
mean   6.137290e+05
std    2.812359e+05
min    6.762000e+03
25%    3.869720e+05
50%    6.092690e+05
75%    8.507470e+05
max    1.404159e+06

In [71]:
df.isnull().sum() #checking null values in each column

Event Time             0
Keywords           51948
Campaign            6429
State                 22
Postal Code            0
City                   0
Platform               0
InorganicSource    15031
Country                5
Name                   0
CreateDate             0
IdUser             23297
dtype: int64

In [72]:
df.shape

(107321, 12)

In [73]:
#Calculating the percentage of nll values for each column
percent = []
for i in df.columns:
    key_perc = (df[i].isnull().sum() * 100)/df.shape[0]
    percent.append(key_perc)
print(percent)

[0.0, 48.404319751027295, 5.9904398952674685, 0.020499249913809973, 0.0, 0.0, 0.0, 14.005646611567167, 0.0046589204349568114, 0.0, 0.0, 21.70777387463777]

In [81]:
#Since all the columns have string values so we can't substitute with the mean values.
df.dropna(subset=["Keywords", "IdUser", "InorganicSource", "Campaign", "State", "Country"], axis=0, inplace = True)

In [82]:
df.isnull().sum()

Event Time         0
Keywords           0
Campaign           0
State              0
Postal Code        0
City               0
Platform           0
InorganicSource    0
Country            0
Name               0
CreateDate         0
IdUser             0
dtype: int64

In [83]:
#After removing the missing values, th
df.shape

(36986, 12)

In [93]:
#Checking the frequency of items in each column of a dataframe.
for i in df.columns:
    c = df[i].value_counts()
    print(f"\nColumn Name: {i}, counts: {c}\n")

Column Name: Event Time, counts: 23/03/20    193
26/03/20    192
25/03/20    191
01/04/20    173
24/03/20    169
           ...
07/11/20      1
13/01/21      1
11/11/20      1
10/11/20      1
03/11/20      1
Name: Event Time, Length: 812, dtype: int64


Column Name: Keywords, counts: learning games for kids                             2750
math games for kids                                 2412
fun math games                                      2044
maths games                                         1510
math games for 3rd grade                            1495
                                                    ...
3rd grade math games multiplication and division       1
st math                                                1
maths rockx                                            1
math game for kids                                     1
adapted mind                                           1
Name: Keywords, Length: 451, dtype: int64


Column Name: Campaign, counts: US- Learning based keywords campaign    5713
New_US: Pepi Bath                       1825
US - Competitor Keywords Campaign       1653
US KW: 1st-5th Grade                    1609
US learning keywords                    1333
                                        ...
New_Ireland BR                             1
CA_Bike Racing_Competitor 1+               1
New_HK BR                                  1
SKIDOS_USA_Town_Performance Learning       1
HK BR                                      1
Name: Campaign, Length: 156, dtype: int64


Column Name: State, counts: CA     3353
TX     2288
NY     1840
FL     1681
IL     1017
       ...
HUC       1
MR        1
42        1
BJ        1
ZMB       1
Name: State, Length: 572, dtype: int64


Column Name: Postal Code, counts: None      318
2300       36
2770       34
2100       30
2730       29
         ...
6275        1
903 60      1
63901       1
3827        1
80302       1
Name: Postal Code, Length: 17243, dtype: int64


Column Name: City, counts: Chicago          303
Brooklyn         270
Houston          262
New York         252
Los Angeles      228
                ...
Ferryhill          1
Templepatrick      1
Schaffhausen       1
Virserum           1
Zvezdara           1
Name: City, Length: 9240, dtype: int64


Column Name: Platform, counts: ios    36986
Name: Platform, dtype: int64


Column Name: InorganicSource, counts: Apple Search Ads    36986
Name: InorganicSource, dtype: int64


Column Name: Country, counts: USA             25089
UK               3175
Australia        1679
Denmark          1650
Sweden           1407
Norway            959
Other             902
Canada            896
India             362
Spain             300
UAE               155
South Africa       96
Saudi Arabia       46
Kuwait             31
Qatar              24
Ireland            21
Philippines        20
Singapore          19
France             19
Switzerland        17
Germany            17
Brazil             16
Netherlands        14
Greece             11
Serbia             10
Italy               8
Malaysia            7
Hong Kong           7
New Zealand         6
Ukraine             6
Belgium             5
Poland              4
Croatia             3
Russia              2
Portugal            2
Austria             1
Name: Country, dtype: int64


Column Name: Name, counts: Bike Racing      19086
Skiers            4516
Street Soccer     4205
Bath              3710
Brainy City       2498
Race Cars         1681
Doctor             727
Surf Fun           294
Color Friends      123
Runners             57
Super Store         55
Milk Hunt           16
Town                12
Rabbit Rescue        6
Name: Name, dtype: int64


Column Name: CreateDate, counts: 23/03/20    193
26/03/20    192
25/03/20    191
01/04/20    173
24/03/20    169
           ...
07/11/20      1
13/01/21      1
11/11/20      1
10/11/20      1
03/11/20      1
Name: CreateDate, Length: 812, dtype: int64


Column Name: IdUser, counts: 586286.0     3
921437.0     3
194581.0     3
865195.0     3
846942.0     3
            ..
283735.0     1
172668.0     1
895153.0     1
1026228.0    1
720896.0     1
Name: IdUser, Length: 36228, dtype: int64